body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 4em; /*100% = 16px */
    text-align: center;
}

h1 {
    font-family: "Give You Glory", cursive;
    font-size: 5.625rem;
    width: 50%;
    margin: 0 auto;
}

p {
    font-family: "Ceviche One", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}